.categoryBlock {
  position: relative;
  padding-bottom: 150px;
}

.categoryTitle {
  position: relative;
  z-index: 10;
  backdrop-filter: blur(10px);
  padding: 1rem;
  border-radius: 12px;
  text-align: center;
}

.cardWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.card {
  position: relative;
  width: 95%;
  max-height: 75vh;
}

.innerCard {
  transition: opacity 0.3s ease;
}
